.contenedor-cart {
    display: flex;
    margin: 5px 5px;
    justify-content: center;
}


.contenedor-cart-productos-2 {
    overflow-y: auto;
    max-height: 500px;
}

.contenedor-cart-productos-2::-webkit-scrollbar-thumb {
    background: gray;
    height: 30%;
    border-radius: 20px;
    transition: 1s all;
    border: solid 8px gray;    
}

.contenedor-cart-productos-2::-webkit-scrollbar {
    width: 7px;
    transition: .4s all;
    border-radius: 10px;
}

    h1 {
    color: black;
    display: flex;
    justify-content: center;
    margin: 30px 0px 10px; 
    font-size: 35px;
}


.contenedor-table {
    color: black;
    text-indent: 7pc;
    font-size: 20px;
}

.contenedor-table img {
    width: 200px;
}

.contenedor-precio-carrito {
    width: 100%;
    background-color: black;


}


.contenedor-carrito-vacio {
    display: flex;
    justify-content: center;
    color: black;
    height: 100%;
    overflow: hidden;
    padding: 4pc;
}


.carrito-vacio {
    display: grid;
    justify-items: center;
}

.carrito-vacio h3 {
    font-size: 30px;
}


.carrito-vacio img {
    width: 24pc;
}

.carrito-vacio button {
    border: solid black;
    margin: 24px 65px;
    transition: .5s all;
}


.carrito-vacio button:hover {
    color: white;
}


.contenedor-caja-compra {
    background-color: white;
    padding: 24px;
    width: 500px;
    color: black;
    position: relative;
    height: 25pc;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;}

.contenedor-caja-compra h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 30px;
}


.carrito-detalles-producto article {
    width: 200px;
}

.contenedor-producto {
    color: black;
    margin: 0px 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    margin: 10px 10px;
}

.contenedor-producto h2 {
    font-size: 20px;
    font-weight: bold;
}

.contenedor-producto article {
    width: 200px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 10px;
}

.contenedor-detalles {
    margin: 10px;
    padding: 0px 9pc 0px 0px;
}


.contenedor-detalle-precio {
    padding: 10px 1pc 0 17pc;
    display: grid;
    margin-left: auto;
    justify-items: end;
    align-content: space-between;
}

.contenedor-detalle-precio button {
    margin: 10px 0px;
}

.contenedor-detalle-precio p {
    font-size: 25px;
}

.contenedor-botones-carrito {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 3px 10px;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    align-items: center;
}

.contenedor-botones-carrito span {
    color: black;
    display: flex;
    font-size: 15px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    transition: .5s all;
    border-radius: 10px;
}

.contenedor-botones-carrito span:hover {
    background-color: black;
    color: white;
} 

.contenedor-botones-carrito button {
    color: white;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}

.contenedor-botones-carrito span svg {
    margin: auto;

}

.contenedor-botones-carrito p {
    color: black;
    font-size: 20px;
}

.contenedor-precios-resumen {
    font-size: 20px;
    height: 50%;
    display: grid;
    justify-items: stretch;
    align-items: center;
    border-bottom: solid 1px;
}

.contenedor-precios-resumen p {
    margin: auto;
    font-weight: bold;
}

.contenedor-subtotal {
    display: flex;
    justify-content: space-between;
}

.contenedor-impuestos {
    display: flex;
    justify-content: space-between;
}

.contenedor-costo-envio {
    display: flex;
    justify-content: space-between;
}

.contenedor-precio-total {
    display: flex;
    justify-content: space-between;

}

.contenedor-precio-total span {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px;
}

.boton-comprar {
    margin: auto;
    width: 100%;
    color: white;
}

.contenedor-input-codigos {
    display: flex;
    margin: 0px 10px;
    position: relative;
    border-radius: 5px;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.contenedor-input-codigos form {
    margin: 15px 0px;
    display: flex;
}

.contenedor-input-codigos form input {
    margin: 0px 10px;
    background: black;
    padding: 5px;
    text-align: center;
}

.contenedor-input-codigos form button {
    padding: 5px;
    background: black;
    color: white;
    border-radius: 10px;

}

/* .cartel-descuento {
    display: flex;
    position: absolute;
    left: 83%;
    bottom: 41%;
    background: red;    
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: white;
    width: 161px;
    border-radius: 0px 10px 4px 3px;
} */


.cartel-descuento {
    display: flex;
    justify-content: space-around;
    align-items: center;
    direction: rtl;
    background-color: #dc1e4d;
    top: 0;
    position: absolute;
    flex-direction: column;
    z-index: 100;
    right: 0rem;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: 1px 2px 14px 5px #00000070;
    padding: 1rem;
    }

.cartel-descuento label {
    margin-top: .5rem;
        margin-bottom: .5rem;
        color: #fff;
}


@media screen and (max-width: 1160px) {
    .contenedor-cart {
        display: block;
    }
    .contenedor-caja-compra {
        width: auto;
        margin: 10px 12px;
    }
}


@media screen and (max-width: 800px) {
    .contenedor-producto article {
        min-width: 150px;
        width: 200px;
    }


    .contenedor-detalles {
        padding: 0px;  
    }
    .contenedor-detalle-precio {
        padding: 10px 13px;
    }
}