.contenedor-item {
    color: black;
    border-radius: 10px;
    width: 100%;
}

.contenedor-detalle {
    display: flex;
    border-radius: 10px;
    margin: 50px;
}

.contenedor-article {
    display: flex;
    width: auto;
    padding: 0pc 8pc;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 0px 27px;
    background: whitesmoke;
}

.contenedor-article article {
    width: 100%;
}

.contenedor-article img {
    width: 66pc;
}

.contenedor-item_info {
    width: auto;
    background: white;
    overflow: hidden;
    display: flex;
    
    margin: 0px 30px;
}

.contenedor-item_info h4 {
    font-size: 30px;
    font-weight: bold;
}

.contenedor-item_info .empresa {
    font-size: 25px;
    font-weight: 400;
}
.contenedor-item_info .parrafo-detalles{
    font-size: 20px;
    width: 82%;
    margin: 32px 0px;
}




.contenedor-precio-stock span {
    padding: 1px;
    background-color: gray;
    margin: 5px;
    transition: 1s all;
}

.contenedor-botones span svg {
    font-size: 15px;
    margin: 10px 0px;
    display: flex;
    align-self: center;
}

.contenedor-botones span:hover {
    text-decoration-line: underline;
}

.contenedor-botones button {
    margin: 0px;
}

.empresa-info p{
    font-weight: bold;
}
.empresa-info span {
    font-weight: 100;
}


.contenedor-precio-stock {
    display: flex;
    justify-content: center;
}
.precio {
    font-size: 25px;
    margin: 17px 0px;
    font-weight: bolder;
}


.stock {
    font-weight: 500;
    font-size: 20px;
}

.contenedor-item_info button {
    color: white;
    background: black;
    
    border: solid 2px;
    
}

.contenedor-item_info button svg {
    margin: auto;
}


.contenedor-contador {
    display: flex;
    
    
}

.contenedor-contador button {
    background: none;
    border: none;
    transition: .5s all;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.contenedor-contador button:nth-child(1) {
    
    border-radius: 10px 0px 0px 10px;
}

.contenedor-contador button:nth-child(3){
    border-radius: 0px 10px 10px 0px;
}

.contenedor-contador button:hover {
    background-color: whitesmoke;
}


.contenedor-contador span {
    
    font-size: 20px;
}

.boton-carrito-2 {
    color: black;
}

.contenedor-count p{
    display: flex;
    font-size: 17px;
    justify-content: center;
}

.contenedor-botones span {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    font-size: 20px;
}

.contenedor-botones {
    display: flex;
    margin: 20px 0px;
}

.contenedor-count {
    margin: 0px 19px 0px 0px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.stock-info {
    margin: 15px 0px;
    font-size: 20px;
}

.contenedor-item_info h6 {
    font-weight: bold;
    margin: 5px 0px;
    font-size: 20px;
}



@media screen and (max-width: 720px){
    .contenedor-detalle {
        display: block;

    }
    .contenedor-item_info {
        width: 100%;
        padding: 20px;

    }
    .contenedor-item_info h4 {
        font-size: 20px;
    }
    .contenedor-item_info .empresa  {
        font-size: 15px;
    }
    .contenedor-item_info .parrafo-detalles{
        font-size: 15px;
    }
    .precio {
        font-size: 20px;
    }

    .contenedor-precio-stock .stock {
        font-size: 20px;
    }

    .contenedor-article article img {
        width: 300px;
    }   
    .contenedor-botones button {
        line-height: 0px;
        padding: 30px;
        width: 100%;
    }
    
    .contenedor-contador button {
        padding: 0px;
        background: none
        ;
        font-size: 20px;
    }
}
