s.header {
    background: black;
}

.navbar {
    background: #ffff;
    box-shadow: 0px 6px 20px 0px #00000052;
    color: black;
}

.menu {
    background: #ffff;
}

.contenedor-carrito {
    display: flex;
}
.contenedor-carrito span {
    background: black;
    color: white;
    margin: auto;
    z-index: 1;
    padding: 4px;
    position: absolute;
    border-radius: 20px;
    right: 13px;
    top: 10px;
    font-size: 15px;
}


.boton-carrito svg {
    background: none;
}
.nav1 {
    
    margin: 20px 20px;
    transition: .5s all;
    
}

label span {
    color: white;
}

.menu-categorias {
    background: white;
}

.menu-categoria li {
    transition: .5s all;
}

.menu-categoria li:hover {
    background: black;
}

.menu-categoria li:active {
    background: black;
}