.boton-carrito {
    margin: auto;
    border: none;
    font-size: 25px;
    border-radius: 33px;
    /* background: #1F1F1F; */
    display: flex;
    padding: 7px;
    

}

/* .contenedor-portada-1 {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
} */

.contenedor-portada-1 {
    display: grid;
    grid-template-columns: 45pc 27.5pc;
    grid-template-rows: repeat(1, 23pc);
    grid-column-gap: 14px;
    grid-row-gap: 0px;
    justify-content: center;
    margin: 30px auto;
}

.contenedor-primera-portada {
    grid-area: 1 / 1 / 4 / 2;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: black;
    border-radius: 10px;
    height: fit-content;
}

.contenedor-primera-portada img {
    border-radius: 10px;
}


.contenedor-segunda-portada {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 10px;
    height: fit-content;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contenedor-segunda-portada img {
    border-radius: 10px;
}

.contenedor-tercera-portada {
    grid-area: 2 / 2 / 3 / 3;
    height: fit-content;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contenedor-tercera-portada img {
    border-radius: 10px;
}

.contenedor-cuarta-portada {
    height: fit-content;
    border-radius: 10px;
    position: relative;
    grid-area: 3 / 2 / 4 / 3;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.contenedor-cuarta-portada img {
    border-radius: 10px;
}

.info-portada-1 {
    position: absolute;
    top: 75%;
    left: 4%;
    color: white;
}

.info-portada-1 p {
    font-size: 30px;
    margin: 13px 0px;
}

.info-portada-1 button {
    font-size: 14px;
    padding: 10px 24px 11px 24px;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 20px;
}

.info-portada-2 {
    position: absolute;
    top: 65%;
    position: absolute;
    left: 4%;
    color: black;
}

.info-portada-2 p {
    margin: 10px 0px;
    font-size: 26px;
}

.info-portada-2 button {
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
    color: white;
    padding: 10px 24px 11px 24px;
    background: black;
    
}

.info-portada-3 {
    position: absolute;
    top: 45%;
    left: 4%;
    color: white;
}

.info-portada-3 p {
    font-size: 28px;
    margin: 10px 0px;
}


.info-portada-3 button{
    font-size: 15px;
    padding: 10px 24px 11px 24px;
    cursor: pointer;
    border-radius: 20px;

    background-color: black;
}




.portada-imagen {
    margin: 20px;
    box-shadow: 3px 4px 6px 0px rgb(0 0 0);
    background: #120e0e;
    overflow: hidden;
    border-radius: 10px;

}

.portada-texto {
    color: white;
}


.contenedor-imagen {
    background: url(https://es.directunlocks.com/devices/compressed/iphone14better.png?v=4);
    height: 700px;
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    background-size: 40pc;
}





.texto-portada {
    overflow: hidden;
    color: white;
    position: absolute;
    top: 60%;
    text-shadow: 1px 1px 1px black;
    left: 2%;
}

.texto-portada h3{
    display: inline-flex;
    margin: 10px auto;
    display: block;
    font-size: 30px;
}

.texto-portada p {
    font-size: 30px;
    font-weight: 100;

}

.texto-portada svg {
    display: flex;
    align-self: center;
    margin: 10px 0px;
}



.texto-portada a {
    text-decoration: none;
    display: flex;
    font-size: 25px;
    font-weight: 100;
    color: white;
    transition: .5s all;
}

.texto-portada a:hover {
    color: rgb(181, 175, 175);
}

.texto-portada button {
    background-color: black;
    border-radius: 10px;
    border: none;
    padding: 20px;
    color: white;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
}

.texto-portada button:hover {
    opacity: 80%;
}

.titulo-productos {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    color: black;
}


.contenedor-card {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.card-prod {
    display: inline-block;
    flex-wrap: wrap;
    margin: 10px 20px;
    width: 292px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(249, 249, 249, 1);
    color: black;
    transition: .6s all;

}
.contenedor-ver-prod {
    display: flex;
    justify-content: space-between;
}

.contenedor-img {
    background-color: whitesmoke;
}

.contenedor-precio {
    display: inline-flex;

}

.contenedor-precio p {
    margin: 19px;
    font-size: 24px;
}

.card-prod:hover {
    box-shadow: 0px 4px 15px 7px rgb(0 0 0 / 25%);
}

.imagen-prod {
    display: flex;
    width: 200px;
    margin: auto;
}

.imagen-prod img{
    width: 100%;
}

.nombre-prod {
    font-weight: bold;
}

.informacion-prod p {
    margin: auto;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    margin: 5px 10px;
}

.p-portada2 {
    color: #cccaca;
}

.card-prod button {
    background: #1F1F1F;
    border-radius: 10px;
    /* padding: 10px; */
    color: white;
    margin: 10px;
    border: none;
    transition: .5s all;

}

.card-prod button:hover {
    background: hsl(var(--nf));
    color: white;
}

.contenedor-carga {
    display: flex;
    justify-content: center;
    padding: 300px 300px;
    margin: auto;
    height: auto;
    width: 100%;
}

.carga {
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: none;

    padding: none
    ;
    
}
.contenedor-carousel {
    width: 95%;
    margin: auto;
    overflow: hidden;
    height: 670px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-top: 37px;
    margin-bottom: 20px;
}

.contenedor-carousel2 {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.contenedor-servicios {
    display: flex;
    background: whitesmoke;
    padding: 20px;
    margin: auto;
    justify-content: space-evenly ;
}

.contenedor-servicios div {
    display: flex;
    align-items: center;
}

.contenedor-servicios img {
    width: 70px;
}

.contenedor-servicios div p {
    margin: 0px 5px;
    color: black;
}

@media screen and (max-width: 1280px) {
    .contenedor-carousel {
        height: auto;
        width: auto;
        border-radius: 0px;
    }

    .texto-portada {
        top: 65%;
        font-size: 20px;
    }
    .contenedor-portada-1 {
        display: grid;
    grid-auto-columns: 1pc;
    grid-template-columns: 21pc 33pc;
    grid-template-rows: 46pc 17pc;
    gap: 1px 9px;
    grid-template-areas:
        "a1 a1"
        "a2 a3";
    }

    .contenedor-primera-portada {
        grid-area: a1;
    }

    .contenedor-segunda-portada {
        grid-area: a2;    }
    .contenedor-tercera-portada {
        grid-area: a3    }

        .info-portada-2 {
            top: 50%;
        }
        .info-portada-3 {
            top: 50%;
        }
}


@media screen and (max-width: 800px) {  



    .contenedor-imagen {
        background-size: 23pc;
        height: 500px;
    }
    .texto-portada {
        top: 55%;
        font-size: 20px;
    }

    
    .contenedor-carousel {
        width: auto;
        height: auto;
        border-radius: 0px;
    }

    .contenedor-portada-1 {
        display: grid;
        grid-auto-columns: 1pc;
        grid-template-columns: 14.2pc 22pc;
        grid-template-rows: 32pc 12pc;
        gap: 1px 9px;
        grid-template-areas:
            "a1 a1"
            "a2 a3";
    }

    .contenedor-primera-portada {
        grid-area: a1;
    }

    .contenedor-segunda-portada {
        grid-area: a2;    }
    .contenedor-tercera-portada {
        grid-area: a3    }

    
.info-portada-1 {
    position: absolute;
    top: 75%;
    left: 4%;
    color: white;
}

.info-portada-1 p {
    font-size: 20px;
}

.info-portada-1 button {
    font-size: 15px;
    cursor: pointer;
}

.info-portada-2 {
    position: absolute;
    top: 45%;
    position: absolute;
    left: 4%;
    color: black;
}

.info-portada-2 p {
    font-size: 15px;
}

.info-portada-2 button {
    cursor: pointer;
    font-size: 10px;
}

.info-portada-3 {
    position: absolute;
    top: 45%;
    left: 4%;
    color: white;
}

.info-portada-3 p {
    font-size: 18px;
}

.info-portada-3 button{
    font-size: 10px;
    cursor: pointer;
}
    
    }


@media screen and (max-width: 640px) {
    
    
    .card-prod {
        margin: 10px 8px;
        width: 286px;
    }

    .contenedor-carousel {
        border-radius: 0px;
    }


    .texto-portada h3 {
        font-size: 20px;
    }

    .texto-portada p {
        font-size: 15px;
    }
    .texto-portada a {
        font-size: 17px;
    }
    .texto-portada svg {
        font-size: 13px;
        margin: 8px 0px;
    }
}