.boton-carrito {
    margin: auto;
    border: none;
    font-size: 25px;
    border-radius: 33px;
    /* background: #1F1F1F; */
    display: flex;
    padding: 7px;
    

}

.portada-imagen {
    margin: 20px;
    box-shadow: 3px 4px 6px 0px rgb(0 0 0);
    background: #120e0e;
    overflow: hidden;
    border-radius: 10px;

}

.portada-texto {
    color: white;
}


.contenedor-imagen {
    background: url(https://es.directunlocks.com/devices/compressed/iphone14better.png?v=4);
    height: 700px;
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    background-size: 40pc;
}





.texto-portada {
    overflow: hidden;
    color: white;
    position: absolute;
    top: 60%;
    text-shadow: 1px 1px 1px black;
    left: 2%;
}

.texto-portada h3{
    display: inline-flex;
    margin: 10px auto;
    display: block;
    font-size: 30px;
}

.texto-portada p {
    font-size: 30px;
    font-weight: 100;

}

.texto-portada svg {
    display: flex;
    align-self: center;
    margin: 10px 0px;
}



.texto-portada a {
    text-decoration: none;
    display: flex;
    font-size: 25px;
    font-weight: 100;
    color: white;
    transition: .5s all;
}

.texto-portada a:hover {
    color: rgb(181, 175, 175);
}

.texto-portada button {
    background-color: black;
    border-radius: 10px;
    border: none;
    padding: 20px;
    color: white;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
}

.texto-portada button:hover {
    opacity: 80%;
}

.titulo-productos {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    color: black;
}


.contenedor-card {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.card-prod {
    display: inline-block;
    flex-wrap: wrap;
    margin: 10px 20px;
    width: 292px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(249, 249, 249, 1);
    border-radius: 10px;
    color: black;
    transition: .6s all;

}

.card-prod:hover {
    box-shadow: 0px 4px 15px 7px rgb(0 0 0 / 25%);
}

.imagen-prod {
    display: flex;
    width: 200px;
    margin: auto;
}

.imagen-prod img{
    width: 100%;
}

.informacion-prod p {
    margin: auto;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.p-portada2 {
    color: #cccaca;
}

.card-prod button {
    background: #1F1F1F;
    border-radius: 10px;
    /* padding: 10px; */
    color: white;
    margin: 10px;
    border: none;
    transition: .5s all;

}

.card-prod button:hover {
    background: hsl(var(--nf));
    color: white;
}

.contenedor-carga {
    display: flex;
    justify-content: center;
    padding: 100px 100px;
    margin: auto;
    height: auto;
    width: 100%;
}

.carga {
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: none;

    padding: none
    ;
    
}
.contenedor-carousel {
    width: 85%;
    margin: auto;
    overflow: hidden;
    height: 670px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-top: 37px;
    margin-bottom: 20px;
}

.contenedor-carousel2 {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

@media screen and (max-width: 700px) {  

    .contenedor-imagen {
        background-size: 23pc;
        height: 500px;
    }
    .texto-portada {
        top: 70%;
    }

    
}