@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.boton-carrito {
    margin: auto;
    border: none;
    font-size: 25px;
    border-radius: 33px;
    background: #1F1F1F;
    display: flex;
    padding: 7px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

