
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/samsung-sans-4');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Samsung Sans', sans-serif;
        
}

body {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
    background:  #999999;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

* header{
    background: white;
}
h1 {
    font-size: 30px;
    margin: 20px 0px;
}